<%- include("../../layout/admin/head")%>

<%- include("../../layout/admin/slidebar")%>

<%- include("../../layout/admin/topbar")%>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Category</h6>
        </div>
        <div  class="col-12">
            <%-include("../../layout/message")%>
            <form action="/admin/cate/edit/<%=data._id%>" class="formReg" method="POST">
                <div class="form-group">
                    <label for="nameCate">Name</label>
                    <input type="text" placeholder="Name category.." class="form-control" id="nameCate" name="nameCate" value="<%=data.name%>">
                </div>
                <div class="form-group">
                    <label for="decriptCate">Decription</label>
                    <input type="text" placeholder="Decription category" class="form-control" id="decriptCate" name="descriptCate" value="<%=data.description%>">
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
<%- include("../../layout/admin/footer")%>