<%-include('../../layout/admin/head')%>
<%-include('../../layout/admin/topbar')%>
<%-include('../../layout/admin/slidebar')%>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Change Password</h4>
        </div>
  
        <div class="col-12">
            <%-include("../../layout/message")%>
            <form action="/admin/changePassword" class="formReg" method="POST">
                
                <div class="form-group">
                    <label for="oldPass">Recent Password</label>
                    <input type="password" placeholder="Your Old Password.." class="form-control" id="oldPass" name="oldPass">
                </div>
                <div class="form-group">
                    <label for="newPass">New Password</label>
                    <input type="password" placeholder="Your New Password.." class="form-control" id="newPass" name="newPass">
                </div>
                <div class="form-group">
                    <label for="reNewPass">Re New Password</label>
                    <input type="password" placeholder="Re Your New Password.." class="form-control" id="reNewPass" name="reNewPass">
                </div>
                
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
    </div>
</div>

<%-include('../../layout/admin/footer')%>