<%- include("../layout/web/header")%>

    <div class="container">
        <div class="new-product">
            <div class="title">
                <h2>New Product</h2>
                <p><span>Tìm thấy 20 sản phẩm</span></p>
            </div>
            <div class="row">
                <%data.forEach(function(product){%>
                <div class="col col-3">
                    <img src="data:<%=product.image.contentType%>;base64,<%=product.image.data%>" alt="" style="background-color: bisque;" width="270px" height="320px">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h6 style="overflow: hidden; text-overflow:ellipsis"><%=product.name%></h6>
                        </a>
                        <span class="price"><%=product.price%></span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <%})%>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="top-product">
            <div class="title">
                <h2>Top Product</h2>
                <p><span>Tìm thấy 20 sản phẩm</span></p>
            </div>
            <div class="row">
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <img src="./assets/web/image/2.jpg" alt="">
                    <div class="detail">
                        <a href="" class="name-product">
                            <h5>Sản phẩm</h5>
                        </a>
                        <span class="price">100.000đ</span>
                        <div class="add-cart">
                            <a href="" class="add"><i class="fas fa-cart-plus"></i></a>
                            <a href="" class="detail-product">Detail <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<%- include("../layout/web/footer")%>