<%- include("../../layout/admin/head")%>

<%- include("../../layout/admin/slidebar")%>

<%- include("../../layout/admin/topbar")%>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Product</h6>
        </div>
        <div  class="col-12">
            <%-include("../../layout/message")%>
            <form action="/admin/product/add" class="formReg" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userReg">Name</label>
                    <input type="text" placeholder="Name product.." class="form-control" id="userReg" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Category select</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="category">
                        <% data.forEach(function(cate){%>
                            <option value="<%=cate._id%>" ><%=cate.name%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" placeholder="Input Price.." class="form-control" id="price" name="price">
                </div>
                <div class="form-group">
                    <label for="decript">Decription</label>
                    <input type="text" placeholder="Input Description.." class="form-control" id="decript" name="decript">
                </div>
                <div class="form-group">
                    <label for="image">Ảnh sản phẩm</label>
                    <input type="file" id="image" name="image" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
<%- include("../../layout/admin/footer")%>